<md-content>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
        <md-icon md-svg-icon="dist/img/menu.svg"></md-icon>
      </md-button>
      <h2>
        <span ng-bind="viewTitle"></span>
      </h2>
      <span flex></span>
      <md-menu>
        <md-button class="md-icon-button" aria-label="More" ng-click="mvm.openMenu($mdOpenMenu, $event)">
          <md-icon md-svg-icon="dist/img/more_vert.svg"></md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ui-sref="main.new-app">New Application</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="mvm.openApp()">Open Application</md-button>
          </md-menu-item>
          <md-menu-item ng-show="mvm.showClose">
            <md-button ui-sref="main.welcome">Close</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>
</md-content>
<ui-view></ui-view>